body {
background-color: crimson;
color: red;
font-family: "Bai Jamjuree", sans-serif;
display: flex;
justify-content: center;
align-items: center;
height: 700px;
margin: 0;
}

button {
    background-color: cornflowerblue;
    color: blueviolet;
    font-family: "Bai Jamjuree", sans-serif;
}